.Footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: start;
    text-align: center;
    background-color: #FFFFFF;
    gap: 20px;
    margin: 20px auto;
    padding: 0 300px;
    width: 100%;
    box-sizing: border-box;
}

.Footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Footer .columns ul p,
.Footer .columns ul a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.Footer .columns ul li {
    padding: 10px 0;
}

.Footer .columns ul li:first-child p {
    color: #495E57;
}

.Footer .columns ul li:not(:first-child) p {
    color: black;
}

.Footer .columns ul a,
.Footer .columns ul p {
    margin: 0;
    padding: 0;
}

/* Mobile styles */
@media (max-width: 768px) {
    .Footer {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding: 10px;
    }

    .Footer ul {
        padding: 10px 0;
    }

    .Footer .columns ul p,
    .Footer .columns ul a {
        font-size: 16px;
    }
}